<!-- Top Alert Banner -->
<div class="home-div-1">
  Postula ahora aqui y unete a <span class="font-bold">Nuestro equipo</span> se parte de una experiencia unica.
</div>

<!-- TopNavBar -->
<nav class="home-nav-2 docked full-width">
  <div class="home-div-3">
    <div class="home-div-4">
      <span class="home-span-5 material-symbols-outlined">agriculture</span>
      <span class="home-span-6">AGROCyt</span>
      <span class="home-span-7">por Agrokasa</span>
    </div>

    <div class="home-div-8">
      <a class="home-a-9" routerLink="/home" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
      <a class="home-a-10" routerLink="/nosotros" routerLinkActive="is-active">Nosotros</a>
      <a class="home-a-11" routerLink="/cultivos" routerLinkActive="is-active">Cultivos</a>
      <a class="home-a-13" routerLink="/postular" routerLinkActive="is-active">Postular</a>
    </div>

    <div class="flex items-center">
      <button class="home-button-14" type="button" (click)="irAPortalEmpleado()">
        Portal del empleado
      </button>
    </div>
  </div>
</nav>
