<!-- Main Content Area - Split Layout -->
<main class="login-main-21 pt-header-height">
    <!-- Image Section (Hero) -->
    <section class="login-section-22">
        <img alt="Trabajador agrícola cosechando arándanos" class="login-img-23"
            data-alt="A portrait-style shot of a smiling agricultural worker wearing protective netting over their hat, carefully harvesting fresh blueberries from a lush green bush. The scene is bright and natural, reflecting a modern, sustainable farming environment. The lighting is sunny and optimistic, highlighting the rich blues of the berries and the deep greens of the foliage. The overall aesthetic is professional, corporate, and trustworthy, embodying a connection to nature and dedicated labor."
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuC8aZ7m3lWlj1mgzIZE7icByuXyA8ogN5H2fqAk5DBSYbpEGVtmUo14043xGWUHPCzjPhJ0A6NqzIXfRWYD6h6jAl-n6jm74IxzEaWt-4LrT09JPpEHpV61oAqw9XR6F14fNqJvnaCSpxh6oRV5kFl7jNbzp2LQh81nEmybVkTv1eeWAOVW6M98pZFHBKXV0qYGfLqWKTjX7qDjmnuBYmLQ-pQbh0zSJEUi01581y3gMHuO9Afo6YkakChlzicnLITGs1lGnAUMqg" />
        <div class="login-div-24">
            <h1 class="login-h1-25">Cultivando el futuro, cosechando confianza.</h1>
            <p class="login-p-26">Únete a nuestra familia y sé parte del crecimiento agrícola sostenible en la región.
            </p>
        </div>
    </section>
    <!-- Login Form Section -->
    <section class="login-section-27">
        <div class="login-div-28">
            <div class="login-div-29">
                <div>
                    <h2 class="login-h2-30">Bienvenido trabajador</h2>
                    <p class="login-p-31">INICIAR SESIÓN</p>
                </div>
                <div class="login-div-32">
                    <span class="login-span-33">eco</span>
                    <span class="login-span-34">Agrokasa</span>
                </div>
            </div>
            <form class="space-y-6" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label class="login-label-35" for="dni">Ingrese su DNI:</label>
                    <div class="relative">
                        <span class="login-span-36"></span>
                        <input class="login-input-37" id="dni" name="dni" formControlName="username"
                            placeholder="Ejm. 87124356" type="text" />
                    </div>
                </div>
                <div>
                    <label class="login-label-38" for="password">Ingrese su contraseña:</label>
                    <div class="relative">
                        <span class="login-span-39"></span>
                        <input class="login-input-40" id="password" name="password" formControlName="password"
                            placeholder="Ejm. 1234567812312.*" type="password" />
                        <button class="login-button-41" type="button">
                            <span class="material-symbols-outlined">visibility_off</span>
                        </button>
                    </div>
                </div>
                <div class="login-div-42">
                    <button class="login-button-43" type="submit">
                        ENTRAR
                    </button>
                </div>
            </form>
            <div class="login-div-44">
                <p class="login-p-45">¿Te olvidaste tu contraseña?</p>
                <a class="login-a-46" routerLink="/forgot-password">Recuperar contraseña</a>
            </div>
        </div>
    </section>
</main>