<footer class="home-footer-66 flat no shadows full-width">
<div class="home-div-67">
<!-- Brand / Contact Info -->
<div class="col-span-2 md:col-span-1">
<h3 class="home-h3-68">AgroCYT.</h3>
<ul class="home-ul-69">
<li>Deseaje 1135, KV 7301</li>
<li>Ica, Perú</li>
<li>+51 932532171</li>
<li>DeseajeSoporte&#64;gmail.com</li>
</ul>
</div>
<!-- Portales -->
<div>
<h4 class="home-h4-70">Portales.</h4>
<ul class="home-ul-71">
<a class="home-a-72" href="#">Información Empresarial</a>
<a class="home-a-73" href="#">Ruta</a>
<a class="home-a-74" href="#">Formularios</a>
</ul>
</div>
<!-- Noticias -->
<div>
<h4 class="home-h4-75">Noticias</h4>
<ul class="home-ul-76">
<a class="home-a-77" href="#">Noticias</a>
<a class="home-a-78" href="#">Eventos</a>
</ul>
</div>
<!-- Enlaces -->
<div>
<h4 class="home-h4-79">Enlaces</h4>
<ul class="home-ul-80">
<a class="home-a-81" href="#">Contacto</a>
<a class="home-a-82" href="#">Servicio al empleado</a>
<a class="home-a-83" href="#">TeamView</a>
</ul>
</div>
<!-- Quienes somos -->
<div>
<h4 class="home-h4-84">Quienes somos</h4>
<ul class="home-ul-85">
<a class="home-a-86" href="#">Acerca de nosotros</a>
<a class="home-a-87" href="#">Nuestros clientes</a>
<a class="home-a-88" href="#">Empleo</a>
</ul>
</div>
</div>
<div class="home-div-89">
<div class="home-div-90">
<span class="home-span-91 material-symbols-outlined">agriculture</span>
<span class="home-span-92">Agrokasa</span>
</div>
<p class="home-p-93">© 2024 Agrokasa. Todos los derechos reservados.</p>
</div>
</footer>